/target
/.venv
*.pyd
*.pdb
*.pyc
*.log
*.5
apps/core_apps/notes_app/notes.json
*.pyc
apps/core_apps/calculator_app/calc_vars.json
apps/core_apps/calculator_app/calc_vars.json
apps/core_apps/calculator_app/calc_vars.json
apps/core_apps/calculator_app/calc_vars.json
*.pyc
pysrc/soulengine/configs/mkey_config
/kat
/apps/se_app_utils/__pycache__
